/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 2rem;
    padding-top: 2rem;
}
#contact {
    padding-bottom: 4rem;
}

/* display background color on navbar scroll */
.navbarScroll.navbarLight {
    background-color: rgb(166, 144, 246);
}

.nav-item {
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
    color: black;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.banner {
    height:100vh;
    width:100vw;
    position: relative;
    overflow: hidden;
    min-height: 1230px;
  }

.title {
    height: 140px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 140px;
    transform: translate(-50%, -50%);
    color: black;
    overflow: hidden;
    left: 50%;
    display: inline-block;
}

.prompt_form {
    height: 160px;
    width: 85%;
    text-align: center;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    overflow: hidden;
    position: absolute;
    display: inline-block;
}

.btn {
    padding: 16px 16px; !important
    font-size: 20px; !important
    border-radius: 10px; !important
}

.generatedImageContainer {
    display: none;
    height: 532px;
    width: 532px;
    position: absolute;
    top: 430px;
    background: rgba(0, 0, 0, 0.1);
    left: 50vw;
    transform:translateX(-50%);
    transition: all 1s ease-in;
    margin-bottom: 100px;
}

.generatedImageContainer img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    box-shadow: 2px 2px 4px black;
    border-top-right-radius: 4px;
    transition: all 1s ease-in;
}

.gallery {
    top: 430px;
    height: 65%;
    width: 100%;
    left: 0;
    position: absolute;
    display: inline-flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.1);
    transition: all 1s ease-in;
}

.gallery-overlay {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-buttons {
    display: inline-flex;
    flex-direction: column;
}

#slideLeft,
#slideRight {
    position: absolute;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    z-index: 1000;
    width: 50px;
    height: 50px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    transform: translateY(130%);
}

#slideLeft {
    left: 10px;
}

#slideRight {
    right: 10px;
}

#slideLeft:hover, #slideRight:hover {
    opacity: 0.7;
}

.img {
    height: 512px;
    width: 512px;
    position: relative;
    float: left;
    box-shadow: 2px 2px 4px black;
    border-top-right-radius: 4px;
    margin: 10px;
    display: inline-flex;
    white-space: nowrap;
}

.figure figcaption {
    color: white;
    box-shadow: 2px 2px 4px black;
    border-top-right-radius: 4px;
    overflow: visible;
    white-space: break-spaces;
    background: rgba(37, 30, 54, 0.37);
    text-align: left;
    text-justify: none;
    text-indent: 10px;
    padding-left: 10px;
    margin: 4px;
}

.gradient {
    --height: 90vh;
    --width: 90vw;
    --speed: 50s;
    --easing: cubic-bezier(0.8,0.2,0.2,0.8);

    width: var(--height);
    height: var(--width);
    filter: blur(calc(var(--height) / 5));
    background:
            radial-gradient(
                    circle at 50% 0,
                    rgb(158, 152, 253),
                    rgb(255 0 0 / 0%) 70.71%
            ),
            radial-gradient(
                    circle at 6.7% 75%,
                    rgb(248, 125, 234),
                    rgb(0 0 255 / 0%) 70.71%
            ),
            radial-gradient(
                    circle at 93.3% 75%,
                    rgb(0, 236, 255),
                    rgb(0 0 2552 / 0%) 70.71%
            );

    background-size: var(--width);
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero_sub {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* projects section css */
.skillsText.card {
    height: 310px;
    cursor: pointer;
}
.skillsIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .skillsIcon {
    color: #008000;
}
.skillsText:hover {
    border: 1px solid #008000;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fab {
    color: #000000;
}

/* footer styling */
#footer {
    background-color: rgba(166, 144, 246);
    text-align: center;
}

* {
    scroll-behavior: smooth;
    scrollbar-gutter: auto;
}